#qBody {
	text-align: center;
}

#qBody h1 {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 3.5em;
	font-weight: 600;
}

#qBody a:nth-child(1) {
	margin-right: 10%;
}

#qBody div:nth-child(2) {
	padding-bottom: 2%;
}

.pageCtrl {
	padding: .8% .8%;
	font-size: 1.5em;
	font-weight: 600;
	color: #424c50;
	border-radius: 5px;
	text-decoration: none;
	letter-spacing: 0;
	border: 2px solid #424c50;
	box-shadow: 1px 1px 3px #000;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
	cursor: pointer;
}

.pageCtrl:hover {
	padding: 1% 1%;
	letter-spacing: 2px;
	color: #fff;
	border-color: #fff;
	text-decoration: none;
	background-color: #424c50;
}
